#hero{
    h1{
        color: var(--secondary-color);
        font-size: 100px;
        text-align: center;
        @include media-query-mobile(){
            font-size: 60px;
        }
    }
    h2{
        color: var(--secondary-color);
        font-size: 50px;
        text-align: center;
        @include media-query-mobile(){
            font-size: 40px;
        }
    }
    .hero-img{
        display: flex;
        justify-content: space-evenly;
        padding-top: 2%;
        img{
            width: 300px;
            height: 300px;
            border-radius: 150px;
            border: 4px solid var(--secondary-color);
            @include media-query-maxitablet(){
                &:last-of-type{
                    display: none;
                }
            }
        }
        @include media-query-mobile(){
            display: none;
        }
        @include media-query-tablet(){
            display: none;
        }
    }
}